@model Trivesta.Model.ViewModel.RoomsVM
<div id="about" class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="section-heading">
                    <h4>Discover <em>What We Do</em> &amp; Who We Are</h4>
                    <img src="assets/images/heading-line-dec.png" alt="">
                    <p>We made messaging and chatting easier for all new and existing users. Simply use our default rooms as advantage to catch up!</p>
                </div>  
                <div class="row">
                    @foreach (var room in Model.DefaultRooms)
                    {
                        <div class="col-lg-6">
                            <div class="box-item">
                                <h4><a asp-action="index" asp-controller="room" asp-route-t="@room.Tag">@room.Name</a></h4>
                                @try
                                {
                                    <p>@room.Description.Substring(0,30)</p>
                                }
                                catch (Exception)
                                {
                                    <p>@room.Description</p>
                                }
                            </div>
                        </div>
                    }
                    @if (Model.DefaultRooms.Count() < 1)
                    {
                        <partial name="_NoContent" />
                    }
                    <div class="col-lg-12">
                        <p>You are soley responsibile for any information shared in any room, discussion or conversation anywhere on this platform.</p>
                        <div class="gradient-button">
                            <a asp-action="create" asp-controller="rooms" asp-route-t="@Model.t">Create New Room</a>
                        </div>
                        <span>Holla! Creating one is free...</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-image">
                    <img src="assets/images/about-right-dec.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
