@model Trivesta.Model.ViewModel.RoomsVM
@{
    ViewData["Title"] = Model.Room.Name+" Room";
}

<div class="push-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 order-2 order-md-1 align-self-center">
                        <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="row">
                                <div class="col-lg-12">
                                    <small class="bold uppercase text-muted">@Model.RoomType.Name</small>
                                    <h1 class="bold uppercase">@Model.Room.Name Room.</h1>
                                    <small>@Model.Room.Description</small>
                                    <hr />
                                    <h2>The rules here are simple</h2>
                                    @if (!string.IsNullOrEmpty(Model.Room.AgeLimit) && Model.Room.AgeLimit.ToLower() != "none")
                                    {
                                        <p>You must be @Model.Room.AgeLimit+ to join this room</p>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.Room.GenderLimit) && Model.Room.GenderLimit.ToLower() != "none")
                                    {
                                        <p>The room is meant for only the @Model.Room.GenderLimit gender</p>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.Room.RelationshipLimit) && Model.Room.RelationshipLimit.ToLower() != "none")
                                    {
                                        <p>Only @Model.Room.RelationshipLimit users are allowed</p>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.Room.ReligiousLimit) && Model.Room.ReligiousLimit.ToLower() != "none")
                                    {
                                        <p>Only Users who practice @Model.Room.ReligiousLimit religion are allowed here</p>
                                    }                                    
                                </div>
                                <div>
                                    <p class="bold">
                                        New members will be charged
                                        @if (Model.Room.RentAmt > 0)
                                        {
                                            <span> a @Model.Room.RentFreq fee of </span>
                                        }
                                        @Model.Room.RentAmt
                                        <span>
                                            coins
                                        </span>
                                    </p>
                                </div>
                                <div class="col-lg-12">
                                    <div class="gradient-button">
                                        <a asp-action="create" asp-controller="rooms" asp-route-t="@Model.Room.RoomTypeTag">Create New Room <i class="fa fa-plus"></i></a>
                                        <a asp-action="chat" asp-controller="room" asp-route-roomID="@Model.Room.Tag">Enter This Room <i class="fa fa-plug"></i></a>
                                    </div>
                                </div>
                            </div>
                      
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-md-2 mb-5">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <img src="../assets/images/slider-dec.png" alt="">
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    
    </div>
</div>

                        